<div class="col-md-6 text-center ">
    <div class="panel article-container">
        <a href="{{link}}">
            <h4 id="title">{{headline}}</h4>
            <p id="summary">{{body}}</p>
        </a>
        <a href="{{link}}" class="pull-right" target="_blank">
            <div class="imgBox">
                <img src="{{imgUrl}}" alt="image" class="storyImg" height="150" />
            </div>
        </a>
        <button class="btn primary-btn" id="save" data-id="{{_id}}">Save Article</button>
    </div>
</div>